# World cities exercise

The goal of this exercise is to practice a common workflow for analyzing large data sets by combining Pandas and SQLAlchemy. 

This exercise uses an edited version of the world cities dataset from maxmind:

    https://www.maxmind.com/en/free-world-cities-database

For simplicity, the original data has been cleaned by removing all rows
with missing values.

In [2]:
# Useful imports.
import pandas as pd
from sqlalchemy import create_engine, func, select, Column, Integer, MetaData, String, Table
from sqlalchemy.orm import sessionmaker

In [3]:
# Remove any existing database created in previous runs of this notebook.
import os

if os.path.isfile('world_cities.db'):
    os.remove('world_cities.db')

**Question 1**

Using SQL Alchemy, create a new table which contains population, country and city.
Use "mysql://logit:datascience@[2001:4860:4864:1:8dc:3328:b4fd:c43a]/world_cities.db" as the URI, to connect to the remote mysql database. Please use read-only or get operations.

The table should be called "cities" and have 3 columns: "country" of type `String`, "city" of type `String`, and "population", of type `Integer`.

TIP: Remember to pass a metadata scheme before trying to read from the database.

In [7]:
# Your code goes here.
import MySQLdb as mysql
db = create_engine("mysql://logit:datascience@[2001:4860:4864:1:8dc:3328:b4fd:c43a]/world_cities.db", echo=True)
db

Engine(mysql://logit:***@[2001:4860:4864:1:8dc:3328:b4fd:c43a]/world_cities.db)

In [8]:
metadata = MetaData()

cities = Table('cities',metadata,
              Column('country', String),
              Column('city', String),
              Column('population', Integer))
metadata.create_all(db)

2016-06-24 15:53:48,348 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2016-06-24 15:53:48,349 INFO sqlalchemy.engine.base.Engine ()
2016-06-24 15:53:48,433 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2016-06-24 15:53:48,434 INFO sqlalchemy.engine.base.Engine ()
2016-06-24 15:53:48,600 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8' and `Collation` = 'utf8_bin'
2016-06-24 15:53:48,601 INFO sqlalchemy.engine.base.Engine ()
2016-06-24 15:53:48,685 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2016-06-24 15:53:48,685 INFO sqlalchemy.engine.base.Engine ()
2016-06-24 15:53:48,769 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2016-06-24 15:53:48,770 INFO sqlalchemy.engine.base.Engine ()
2016-06-24 15:53:48,887 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8) COLLATE utf8_bin AS anon_1
2016-06-24 15:53:48,888 INFO sqlalchemy.engine.base.Engine ()
2016-06-24 15:53:49,131 INFO sqlalchemy.engine.base.Engine DESCRIBE `cities`
2016-06-24 15:53:49,132 INFO sqlalchemy.engine.base.Engine ()

In [ ]:
r = db.execute